<!DOCTYPE html>
{% load static %}
<html lang="en">

<link rel="stylesheet" href="{% static 'blog.css' %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div style="text-align:center;"> <h1> lista de posts jejep</h1>
      {% block content %}
      {% endblock %}
    </div>

</head>
<body>

</body>
</html>